*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .calculatorform{
    width: 350px;
    height: 450px;
    position: relative;
    border: 2px solid green;
    font-size: 25px;
    font-weight: 500;
}
.main .calculatorform div{
    width: 100%;
    height: calc(450px/6);
    display: flex;
    flex: 1;
}
.main .calculatorform div input{
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 500;
    border: 2px solid blue;
}
.numbers{
    color: white;
    background-color: rgb(238, 54, 198);
    border: 1px solid black;
    
}
.clearbtn{
    background-color: gray;
    color: black;
}